/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family:"Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    align-items: center;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* HEADER SECTION */

.header {
    background-color: #4C8BF5;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.site-title > * {
    vertical-align: middle;
}
.logo {
    max-width: 40px;
    display: inline-block;
}
.site-title h2 {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-size: 2em;
    font-weight: 600;
}
.site-title span {
    font-weight: 300;
    font-size: 24px;
    margin-left: 20px;
}


/* MAIN SECTION */
.main-container {
    min-width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }
  
  .mainslide {
    width: 780px;
    height: auto;
    filter: drop-shadow(-5px 5px 4px grey);
  }
  .previous-slide, .next-slide {
    padding: 0 20px;
  }
  /* DESCRIPTION CONTAINER */

.description-container {
    width: 780px;
    position: relative;
    margin: 0px auto 100px;
  }
.description-container h3 {
    font-family: poppins;
    color: #4C8BF5;
    font-size: 2em;
    font-weight: 600;
}
  






.img {width:100%;}

/* Everything before the media queries gets
applied to screen sizes greater than 960 pixels */

/*****************/
/* MEDIA QUERIES */
/*****************/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .site-title h2 {
    font-size: 1.5em;
  }
  .main-container {
    min-width: 780px;
  }
  .mainslide, .description-container {
    width: 620px;
  }
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .site-title span {
    display: none;
    font-size: 1.15em;
  }
  .main-container {
    min-width: 460px;
  }
  .mainslide, .description-container {
    width: 460px;
  }
}
/* Mobile Portrate Screen Sizes */
@media only screen and (max-width: 479px) {
  .main-container {
    min-width: 300px;
  }
  .mainslide, .description-container {
    width: 300px;
  }
}