/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family:"Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    align-items: center;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GLOBAL FONT STYLES */
html {
  font-size: 16px;
}
h3 {
  line-height: 1.5;
  color: #4C8BF5;
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666666; 
}
/* HEADER SECTION */

.header {
    background-color: #4C8BF5;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 30px;
}
.site-title > * {
    vertical-align: middle;
}
.logo {
    max-width: 40px;
    display: inline-block;
}
.site-title h2 {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.site-title span {
    font-weight: 300;
    font-size: 24px;
    margin-left: 20px;
}


/* SLIDESHOW SECTION */
.main-container {
    min-width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 20px auto;
  }
  
  /* NAV MENU */
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  height: auto;
  width: 780px;
  margin: 20px auto 10px auto;
  justify-items: center;
  align-items: end;
  grid-column-gap: 20px;
}
.nav-menu span {
  padding-top: 5px;
  text-align: center;
  display: block;
  margin: auto;
  width: 100%;
}
.nav-strip {
  background-color: lightgrey;
  height: 2px;
  width: 100%
}

  .mainslide {
    width: 780px;
    height: auto;
    filter: drop-shadow(-5px 5px 4px grey);
  }
  .previous-slide, .next-slide {
    padding: 0 20px;
    cursor: pointer;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .mySlides {display: none}
  /* On hover, add a black background color with a little bit see-through */
.previous-slide:hover, .next-slide:hover {
  background-color: rgba(236,236,236,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #88C7FF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots {
  text-align: center;
  margin-bottom: 40px;
}
.active, .dot:hover {
  background-color: #4C8BF5;
}
.active-nav {
  background-color: #ececec;
  font-weight: bold;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
  /* DESCRIPTION CONTAINER */

.description-container {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-column-gap: 20px;
    width: 780px;
    position: relative;
    margin: 0px auto 100px;
  }
.description-container div {
  float: left;
}
.description {
  grid-column-start: 1;
  grid-column-end: 8;
}
.about-author {
  grid-column-start: 9;
  grid-column-end: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img.ben {
  width: 100px;
  border-radius: 50%;
  justify-self: center;
}
.about {
  font-size: .8rem;

}
.icons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.icons img {
  width: 25px;
  margin: 10px;
}





.img {width:100%;}

/* Everything before the media queries gets
applied to screen sizes greater than 960 pixels */

/*****************/
/* MEDIA QUERIES */
/*****************/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .site-title h2 {
    font-size: 1.5em;
  }
  .main-container {
    min-width: 780px;
  }
  .mainslide, .description-container {
    width: 620px;
  }
  .nav-menu {
    width: 620px;
  }  
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .site-title span {
    display: none;
    font-size: 1.15em;
  }
  .main-container {
    min-width: 460px;
  }
  .mainslide, .description-container {
    width: 460px;
  }
  .nav-menu {
    width: 460px;
  }
  .nav-menu p {
    font-size: 0.8rem;
  }
}
/* Mobile Portrate Screen Sizes */
@media only screen and (max-width: 479px) {
  .main-container {
    min-width: 300px;
  }
  .mainslide, .description-container {
    width: 300px;
  }
  .nav-menu {
    display: none;
  } 
}